body {
    background-color:white;
	font-family: 'PT sans', sans-serif; 
}
h1 { 
    font-weight: 300; 
    font-size: 38px; 
    margin: 100px 10p;x 10px 100px; 
    text-align: center;
    line-height: 120%; 
    text-transform: uppercase;
    font-family: 'PT sans', sans-serif; 
}
h2 { 
    font-weight: 200; 
    font-size: 28px; 
    margin: 10px 10px 10px 10px; 
    text-align: center;
    line-height: 100%; 
    color: #5D6D7E
    font-family: 'PT sans', sans-serif; 
}
a { 
    color: #f20553; 
    text-decoration: none; 
}
.topnav {
    background-color: #777777;
	
	opacity: 0.5;
    filter: alpha(opacity=50);
	overflow: hidden;
}
.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 35px 15px;
	text-transform:uppercase;
    text-decoration: none;
    font-size: 18px;
	font-family: 'PT Sans Caption', sans-serif;
}
.topnav a:hover {
    background-color: none;
    color: #00ccff ;
	font-weight: bold
}
img.logo {
	float: left;
	margin-left: 5%;
	padding: 14px 16px;
}
#bannerimage {
	width:  100%;
	background-image: url(piimega-kuva-2.jpg);
	height: 400px;
	position: center
	margin-left: 100px;
	margin-right: 100px;
	background-color: none;
	background-position: center;
}
a:hover { 
    color: #D80649; 
    text-decoration: none; 
}
.footer {
    background-color: #f1f1f1;
	font-family: 'PT sans', sans-serif;
	text-align: right;
	font-size: 14px; 
	padding: 10px;
	color: #777777;
}
.button {
	 color:white;
	 background-color:#00aedb;
	 opacity: 0.9;
    filter: alpha(opacity=90);
	 padding:15px 32px;
	 text-align: center;
	 margin-top: 30px;
	 margin-bottom:30px;
	 margin-left: 20%;
	 font-size: 16px;
	 border-radius: 5px;
	 font-family: 'PT Sans', sans-serif;
}
.button:hover {
    color:#00aedb;
	 background-color:white;
	 padding:15px 32px;
	 text-align: center;
	 margin-top: 30px;
	 font-size: 16px;
	 margin-left: 20%;
	 border-radius: 5px;
	 border: 2px solid #00aedb;
	 font-family: 'PT Sans', sans-serif;
}
div.lomake {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-between;
	width: 50%;
	margin-left: 20%;
   	padding-top: 30px; 
	font-family: 'Pt Sans', sans-serif; 
    color: #777777; 
    font-size: 18 px;
	line-height: 2;
}	
.container>div {
  flex: 0 50%;
}
.flex-item1 {
	width: 100%;
}
.flex-item2 {
	width: 100%;
}
input[type="text"],
textarea {
	width: 50%;
	padding: 6px;
	font-size: 16px;
	border: 1px solid #777777;
	background: #f4f4f4;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
